html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font: menu;
}

* {
  box-sizing: border-box;
}

.body {
  background: var(--body-background);
  color: var(--body-color);
  height: 100%;
  display: flex;
}

.float-inline-start {
  float: inline-start;
  margin-inline-start: auto;
}
.float-inline-end {
  float: inline-end;
  margin-inline-start: auto;
}

.flex {
  flex: 1;
}
.main-content {
  flex: 1;
}

.splitter {
  border-left: 1px solid var(--splitter-color);
}

.sidebar {
  background: var(--body-background);
}

.toolbar {
  display: flex;
  align-items: stretch;
  background: var(--toolbar-background);
  border-bottom: 1px solid var(--splitter-color);
  height: 26px;
  padding: 2px;
}

.header {
  background: var(--header-background);
}